<!DOCTYPE html>
<html>
<head>
	<title>Portfolio: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<h2>Some of my work</h2>
		<article>
			<img src="images/edge-of-the-road.jpg" alt="Portfolio Image: Edge of The World">
			<h3>Edge of The Road</h3>
			<p>04/12/2015</p>
		</article>
		<article>
			<img src="images/train-yourself.jpg" alt="Portfolio Image: Train Yourself">
			<h3>Train Yourself</h3>
			<p>04/13/2015</p>
		</article>
		<article>
			<img src="images/most-beautiful-girl.jpg" alt="Portfolio Image: Most Beautiful Girl">
			<h3>Most Beautiful Girl</h3>
			<p>04/14/2015</p>
		</article>
		<article>
			<img src="images/fly-into-the-future.jpg" alt="Portfolio Image: Fly Into the Future">
			<h3>Fly Into the Future</h3>
			<p>04/15/2015</p>
		</article>
		<article>
			<img src="images/dawn-of-justice.jpg" alt="Portfolio Image: Dawn of Justice">
			<h3>Dawn of Justice</h3>
			<p>04/16/2016</p>
		</article>
	</section>

	<!-- End Component -->
	
</body>
</html>