<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<div>
			<p></p>
			<p>Bruce Dingeling</p>
			<p>Marketing &amp; Sales <a href="">Evasion, Ltd.</a></p>
		</div>
		<div>
			<p></p>
			<p>Bruce Dingeling</p>
			<p>Marketing &amp; Sales <a href="">Evasion, Ltd.</a></p>
		</div>
		<div>
			<p></p>
			<p>Bruce Dingeling</p>
			<p>Marketing &amp; Sales <a href="">Evasion, Ltd.</a></p>
		</div>
		<ul>
			<li><a href="">Slide One</a></li>
			<li><a href="">Slide Two</a></li>
			<li><a href="">Slide Three</a></li>
		</ul>
	</section>

	<!-- End Component -->
	
</body>
</html>