<!DOCTYPE html>
<html>
<head>
	<title>Testimonials: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<div class="container">
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit erat turpis, et lacinia massa euismod at. Aliquam quis ante sodales, feugiat nunc sit amet, dapibus lectus. Mauris nec tortor et.</p>
				<h3>Bruce Dingeling</h3>
				<h4>Marketing &amp; Sales <a href="">Evasion, Ltd.</a></h4>
			</article>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit erat turpis, et lacinia massa euismod at. Aliquam quis ante sodales, feugiat nunc sit amet, dapibus lectus. Mauris nec tortor et. </p>
				<h3>Barack Obama</h3>
				<h4>President <a href="">United States</a></h4>
			</article>
			<article>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit erat turpis, et lacinia massa euismod at. Aliquam quis ante sodales, feugiat nunc sit amet, dapibus lectus. Mauris nec tortor et.</p>
				<h3>John Doe</h3>
				<h4>Plumber <a href="">Google, Inc.</a></h4>
			</article>
			<ul>
				<li><a href="">Testimonial #1</a></li>
				<li><a href="">Testimonial #2</a></li>
				<li><a href="">Testimonial #3</a></li>
			</ul>
		</div>
	</section>

	<!-- End Component -->
	
</body>
</html>