<!DOCTYPE html>
<html>
<head>
	<title>Testimonials: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<div>
			<p></p>
			<p>Bruce Dingeling</p>
			<p>Marketing &amp; Sales <a href="">Evasion, Ltd.</a></p>
		</div>
		<div>
			<p></p>
			<p>Barack Obama</p>
			<p>President <a href="">United States</a></p>
		</div>
		<div>
			<p></p>
			<p>John Doe</p>
			<p>Plumber <a href="">Google, Inc.</a></p>
		</div>
		<ul>
			<li><a href="">Testimonial #1</a></li>
			<li><a href="">Testimonial #2</a></li>
			<li><a href="">Testimonial #3</a></li>
		</ul>
	</section>

	<!-- End Component -->
	
</body>
</html>