<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<h2>Team</h2>
		<p><em>Who</em> we are</p>
		<p>Our success depends on the <em>strength of our team</em>. Nunc tempor sapien ut lectus hendrerit vulputate. Cras arcu quam, placerat semper nunc vitae, scelerisque sagittis dolor.</p>
		<article>
			<img src="images/mikejohnson.jpg" alt="Portrait: Mike Johnson">
			<h3>Mike Johnson</h3>
			<p>CEO &amp; Founder</p>
			<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum.</p>
			<ul>
				<li><a href="">Twitter</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Dropbox</a></li>
				<li><a href="">Email</a></li>
			</ul>
		</article>
		<article>
			<img src="images/mikejohnson.jpg" alt="Portrait: Jessica Specter">
			<h3>Jessica Specter</h3>
			<p>Creative Director</p>
			<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum.</p>
			<ul>
				<li><a href="">Twitter</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Dropbox</a></li>
				<li><a href="">Email</a></li>
			</ul>
		</article>
		<article>
			<img src="images/mikejohnson.jpg" alt="Portrait: Andrew Miles">
			<h3>Andrew Miles</h3>
			<p>Developer</p>
			<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum.</p>
			<ul>
				<li><a href="">Twitter</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Dropbox</a></li>
				<li><a href="">Email</a></li>
			</ul>
		</article>
		<article>
			<img src="images/mikejohnson.jpg" alt="Portrait: Lynda Smith">
			<h3>Lynda Smith</h3>
			<p>Programmer</p>
			<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum.</p>
			<ul>
				<li><a href="">Twitter</a></li>
				<li><a href="">Facebook</a></li>
				<li><a href="">Dropbox</a></li>
				<li><a href="">Email</a></li>
			</ul>
		</article>
	</section>

	<!-- End Component -->
	
</body>
</html>