<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<h1>Team</h1>
		<h2><em>Who</em> we are</h2>
		<p>Our success depends on the <em>strength of our team</em>. Nunc tempor sapien ut lectus hendrerit vulputate. Cras arcu quam, placerat semper nunc vitae, scelerisque sagittis dolor.</p>
		<article>
			<img src="images/mikejohnson.jpg" alt="Portrait: Mike Johnson">
			<h3>Mike Johnson</h3>
			<h4>CEO &amp; Founder</h4>
			<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum.</p>
			<ul>
				<li><a class="twitter" href="">Twitter</a></li>
				<li><a class="facebook" href="">Facebook</a></li>
			</ul>
		</article>
		<article>
			<img src="images/jessicaspecter.jpg" alt="Portrait: Jessica Specter">
			<h3>Jessica Specter</h3>
			<h4>Creative Director</h4>
			<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum.</p>
			<ul>
				<li><a class="twitter" href="">Twitter</a></li>
				<li><a class="facebook" href="">Facebook</a></li>
			</ul>
		</article>
		<article>
			<img src="images/mikejohnson.jpg" alt="Portrait: Andrew Miles">
			<h3>Andrew Miles</h3>
			<h4>Developer</h4>
			<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum.</p>
			<ul>
				<li><a class="twitter" href="">Twitter</a></li>
				<li><a class="facebook" href="">Facebook</a></li>
			</ul>
		</article>
		<article>
			<img src="images/lyndasmith.jpg" alt="Portrait: Lynda Smith">
			<h3>Lynda Smith</h3>
			<h4>Programmer</h4>
			<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum.</p>
			<ul>
				<li><a class="twitter" href="">Twitter</a></li>
				<li><a class="facebook" class="facebook" href="">Facebook</a></li>
			</ul>
		</article>
	</section>

	<!-- End Component -->
	
</body>
</html>