<!DOCTYPE html>
<html>
<head>
	<title>Header: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<header>
		<ul>
			<li>Twitter</li>
			<li>Facebook</li>
			<li>Google Plus</li>
			<li>Pinterest</li>
			<li>Instagram</li>
			<li>RSS Feed</li>
		</ul>
		<img src="images/logo.png" alt="HandyMan">
		<nav>
			<ul>
				<li>Home</li>
				<li>Pages</li>
				<li>Features</li>
				<li>Jobs</li>
				<li>Blog</li>
				<li>Contacts</li>
				<li>Login</li>
				<li>Register</li>
			</ul>
		</nav>
	</header>

	<!-- End Component -->
	
</body>
</html>