<!DOCTYPE html>
<html>
<head>
	<title>Header: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<header>
		<ul>
			<li><a href="">Twitter</a></li>
			<li><a href="">Facebook</a></li>
			<li><a href="">Google Plus</a></li>
			<li><a href="">Pinterest</a></li>
			<li><a href="">Instagram</a></li>
			<li><a href="">RSS Feed</a></li>
		</ul>
		<img src="images/logo.png" alt="HandyMan">
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Pages</a></li>
				<li><a href="">Features</a></li>
				<li><a href="">Jobs</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="">Contacts</a></li>
				<li><a href="">Login</a></li>
				<li><a href="">Register</a></li>
			</ul>
		</nav>
	</header>

	<!-- End Component -->
	
</body>
</html>