/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */

body {
	font: 14px/1.4 arial,sans-serif;
	text-align: center;
	color: #888;
}

h1 {
	font-size: 1.8rem;
	font-weight: 300;
}

h2 {
	display: none;
}

h3 {
	font-size: 1.1rem;
}

h1,h3 {
	text-transform: uppercase;
	color: #444;
}

/* HEADER ======================================== */

section {
	max-width: 1000px;
	padding: 100px 0;
	margin: auto;
	overflow: auto;
}

section > p {
	padding-bottom: 18px;
	margin: 40px 0 120px 0;
	position: relative;
}

section > p::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: calc(50% - 115px);
	display: block;
	background-color: #CCC;
	width: 230px;
	height: 1px;
}

section > p::after {
	position: absolute;
	content: "\2022";
	color: #ccc;
	font-size: 2rem;
	text-align: center;
	width: 36px;
	line-height: 1;
	bottom: -16px;
	left: calc(50% - 18px);
	display: block;
	background-color: #fff;
}

/* SERVICES ======================================== */

section ul {
	position: relative;
}

section ul::before {
	content: "";
	background: url("images/logo.jpg") no-repeat center;
	position: absolute;
	top: -40px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border-bottom: 2px solid #888;
}

section li {
	margin-top: 20px;
	position: relative;
}

section li::before {
	position: absolute;
	content: "";
	width: 60px;
	height: 60px;
	border: 1px solid #4589ff;
	border-radius: 50%;
}

section li:nth-of-type(odd) {
	text-align: right;
}

section li:nth-of-type(even) {
	text-align: left;
}

section li:nth-of-type(1), section li:nth-of-type(2), section li:nth-of-type(3), section li:nth-of-type(4){
	float: left;
	width: calc(50% - 214px);
}

section li:nth-of-type(1),section li:nth-of-type(3){
	margin-right: 214px;
}

section li:nth-of-type(2),section li:nth-of-type(4){
	margin-left: 214px;
}

section li:nth-of-type(5) {
	margin-right: 144px;
}

section li:nth-of-type(6) {
	margin-left: 144px;
}

section li:nth-of-type(6)::after {
	content: "";
	display: table;
	clear: both;
}

section li:nth-of-type(7) {
	width: 25%;
	margin: auto;
	padding-top: 20px;
	text-align: center;
	clear: both;
}

section li:nth-of-type(5), section li:nth-of-type(6){
	float: left;
	width: calc(50% - 144px);
}

/*Icons*/

.webdesign::before {
	background: url("images/webdesign.jpg") no-repeat 50% 50%;
	top: 0;
	right: -80px;
}

.support::before {
	background: url("images/support.jpg") no-repeat 50% 50%;
	top: 0;
	left: -80px;
}

.wordpress::before {
	background: url("images/wordpress.jpg") no-repeat 50% 50%;
	top: 0;
	right: -102px;
}

.consulting::before {
	background: url("images/consulting.jpg") no-repeat 50% 50%;
	top: 0;
	left: -102px;
}

.ecommerce::before {
	background: url("images/ecommerce.jpg") no-repeat 50% 50%;
	top: -24px;
	right: -90px;
}

.marketing::before {
	background: url("images/marketing.jpg") no-repeat 50% 50%;
	top: -24px;
	left: -90px;
}

.seo::before {
	top: -60px;
	left: 95px;
	background: url("images/seo.jpg") no-repeat 50% 50%;

}