<!DOCTYPE html>
<html>
<head>
	<title>Services: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<h1>We are Bedrock</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum nibh eu metus posuere, ut fringilla justo consectetur. Duis accumsan egestas sem, sit amet aliquam orci iaculis a.</p>
		<h2>Services</h2>
		<ul>
			<li>
				<h3>Webdesign</h3>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<h3>Support</h3>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<h3>Wordpress</h3>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<h3>Consulting</h3>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<h3>E-Commerce</h3>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<h3>Marketing</h3>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<h3>SEO</h3>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
		</ul>
	</section>

	<!-- End Component -->
	
</body>
</html>