<!DOCTYPE html>
<html>
<head>
	<title>Services: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<h2>We are Bedrock</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum nibh eu metus posuere, ut fringilla justo consectetur. Duis accumsan egestas sem, sit amet aliquam orci iaculis a.</p>
		<h3>Services</h3>
		<ul>
			<li>
				<strong>Webdesign</strong>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<strong>Support</strong>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<strong>Wordpress</strong>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<strong>Consulting</strong>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<strong>E-Commerce</strong>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<strong>Marketing</strong>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
			<li>
				<strong>SEO</strong>
				<p>Duis erat velit, luctus at massa ac, tincidunt sollicitudin est. Integer quis bibendum nisi.</p>
			</li>
		</ul>
	</section>

	<!-- End Component -->
	
</body>
</html>