<!DOCTYPE html>
<html>
<head>
	<title>Recent News: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<h1>Desert <em>Recent News</em></h1>
		<h2>Do you know about work</h2>
		<p>Sed elit orci, cursus at velit at, tempus gravida tortor. Proin magna elit, sodales sit amet odio vitae, lacinia commodo purus. Ut ut augue mauris.</p>
		<article>
			<img src="images/blogimage1.jpg" alt="Blog Image: A Soft Study Application">
			<h3>A study soft application</h3>
			<p>Posted by <a href="">John Doe</a> in Blog</p>
			<p>March 12th, 2015</p>
		</article>
		<article>
			<img src="images/blogimage2.jpg" alt="Blog Image: Chemists &amp; Engins Agree">
			<h3>Chemists &amp; engins agree</h3>
			<p>Posted by <a href="">John Doe</a> in Blog</p>
			<p>April 21st, 2015</p>
		</article>
		<article>
			<img src="images/blogimage3.jpg" alt="Blog Image: The Paint Interior Walls">
			<h3>The paint interior walls</h3>
			<p>Posted by <a href="">John Doe</a> in Blog</p>
			<p>May 19th, 2015</p>
		</article>
	</section>

	<!-- End Component -->
	
</body>
</html>