<!DOCTYPE html>
<html>
<head>
	<title>Secondary CTA: Andrew Lancaster</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<h2>Looking for exclusive digital services?</h2>
		<p>Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna. Donec pharetra vitae ex eget bibendum. Duis rhoncus cursus enim, posuere vulputate urna lacinia eu.</p>
		<p><a href="">Let's talk</a></p>
		<img src="images/desktopfeat.png" alt="Example of web design on desktop computer">
	</section>

	<!-- End Component -->
	
</body>
</html>