<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<section>
		<h2>Contact</h2>
		<ul>
			<li>
				<p><strong>Call Us</strong></p>
				<p>+61 3 8376 6284</p>
			</li>
			<li>
				<p><strong>Address</strong></p>
				<p>245 Quigley Blvd, Ste K</p>
			</li>
			<li>
				<p><strong>Email</strong></p>
				<p>support@bestlooker.pro</p>
			</li>
		</ul>
		<form>
			<p><label>Name</label><input type="text"></p>
			<p><label>Email</label><input type="email"></p>
			<p><label>Message</label><textarea></textarea></p>
			<p>All fields are required</p>
			<button>Submit Message</button>
		</form>
	</section>

	<!-- End Component -->
	
</body>
</html>