<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

	<footer>
		<img src="images/logo-footer.png">
		<ul>
			<li><a href="">Facebook</a></li>
			<li><a href="">Twitter</a></li>
			<li><a href="">LinkedIn</a></li>
			<li><a href="">Dribbble</a></li>
			<li><a href="">YouTube</a></li>
			<li><a href="">Google Plus</a></li>
		</ul>
		<article>
			<h2>About Us</h2>
			<p>Duis rhoncus cursus enim, posuere vulputate urna lacinia eu. Nunc sem felis, posuere sit amet lorem a, facilisis consectetur est.</p>
			<ul>
				<li>1234 Fake Street<br>Boston, MA 09876</li>
				<li><strong>Phone:</strong> 123 456 7890</li>
				<li><strong>Fax:</strong> 098 765 4321</li>
				<li>info@your-company.com</li>
			</ul>
		</article>
		<article>
			<h2>Recent Work</h2>
			<ul>
				<li><img src="images/work1.jpg" alt="Recent Work: One"></li>
				<li><img src="images/work2.jpg" alt="Recent Work: Two"></li>
				<li><img src="images/work3.jpg" alt="Recent Work: Three"></li>
				<li><img src="images/work4.jpg" alt="Recent Work: Four"></li>
				<li><img src="images/work5.jpg" alt="Recent Work: Five"></li>
			</ul>
			<p><strong>@CNN</strong> Maecenas lectus nisl, tempus at rhoncus vel, tempus et urna <a href="">http://t.co/34gj34j3jh34</a> <em>1h</em></p>
		</article>
		<article>
			<h2>Recent Posts</h2>
			<ul>
				<li>
					<img src="images/news1.jpg">
					<h3>A professional look gives creative feeling</h3>
					<p>March 25 2015</p>
				</li>
				<li>
					<img src="images/news2.jpg">
					<h3>A professional look gives creative feeling</h3>
					<p>March 25 2015</p>
				</li>
				<li>
					<img src="images/news3.jpg">
					<h3>A professional look gives creative feeling</h3>
					<p>March 25 2015</p>
				</li>
			</ul>
		</article>
		<p>&copy; OLEN 2015</p>
		<p><a href="">Back to Top</a></p>
	</footer>

	<!-- End Component -->
	
</body>
</html>